<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>ConsultBot</title>
  </head>
  <body>
    <div class="jumbotron text-center" style="height:190px">
        <h1>ConsultBot</h1>
        <p>A chatbot designed to aid in public consultation</p>
        <a class="center-align" href="/admin">Admin Login</a>
        <a class="center-align" href="/Bot/stats">Statistics</a>
      </div>
      <div style="text-align:justify; width:60%; margin:auto">
        <h1>PARTICIPANT INFORMATION</h1>
        <p>
            I am Michael Graver, a Msci Student in the department of Computing Science.  I would like to invite you to consider participating in the research project ConsultBot.  Below is some information about the project, to help you decide whether you would like to take part.
        </p>
        <p>
            <b>Participation in the research project is completely voluntary.  You can withdraw from the project at any time up until you have completed the survey and submitted your results, without having to give a reason.</b>       </p>
        <h3>Aims</h3>
        <p>
            The aim of the project is to conduct research on the feasibility of an argumentation based chatbot as an alternative method of collecting information  for policy consultation concerning civic proposals.
        </p>
        <h3>What You Will Be Asked to Do</h3>
        <p>
            You will interact with a chatbot and it will ask you questions about a current civic proposal, namely the proposed Aberdeen F.C. Stadium at Kingsford. You will be expected to answer the chatbots questions. This interaction should only take a few minutes and can be restarted at any time. Once this is completed participants will be asked to complete a short survey consisting of eight (8) questions. These questions will ask you to rate your experience and compare it to other methods of information gathering. This should only take a few minutes also.
        </p>
        <h3>Risks</h3>
        <p >
            There will be no risks to participants from taking part in this research. All data collected will be annonymous. No questions in the survey should cause any distress.
        </p>
        <h3>Data Management and Storage</h3>
        <p>
            Data collected will be anonymous and any data which could possibly be used to identify will be removed. The data collected will be destroyed within two months of the completion of the research start date.
        </p>
        <h3>Confidentiality and Anonymity</h3>
        <p>
            Raw data and the identity of participants will not be released to anyone outside the research team.  The data you provide will be analysed and may be used in publications, dissertations, reports or presentations derived from the research project, but this will be done in such a way that your identity is not disclosed. All data collected will be stored anonymously.
        </p>
        <h3>Consent</h3>
        <p>
            If you agree to take part in the research, you will be asked to indicate your consent by ticking the box on the online Consent Form on the next page.
        </p>
        <p>
            Thank you for considering taking part in this research. 
        </p>
        <p>
            If you have any questions about this research please contact me: 
        </p>
        <p>
            Michael Graver	Email: Michael.Graver.16@aberdeen.ac.uk
        </p>
        <p>
            For any queries regarding ethical concerns you may contact the Convener of the Physical Sciences & Engineering Ethics Board at the University of Aberdeen: 
        </p>
        <p>
            Email: copsethics@abdn.ac.uk
        </p>
        <button type="button" class="btn btn-primary" onclick="window.location.href='/Bot/Consent/'">Continue</button>
      </div> 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>